[buildout]
parts =
    env
    test
develop = .
versions = versions

[env]
recipe = zc.recipe.egg
eggs = yay [test]
interpreter = python

[test]
recipe = pbp.recipe.noserunner
eggs = yay [test]
defaults = yay

[versions]
distribute = 0.6.21
buildout = 1.4.3
zc.recipe.egg = 1.3.2

